@charset "utf-8";
/* common.css */

#wrap{
	margin:0 auto;  /* 가운데 정렬 */
	width:960px;
	background-color:white; 	/* 배경색 */
	}

header{		
	height:40px; 
	line-height:40px;	/* 줄 간격 - 수직으로 가운데 정렬 효과 */
	padding:0;
	font-weight:bold; /* 굵게 */
	}	
	
img { border:0; }	

#logoImg{
	margin:0;
	}

#topImg{
	margin-top:10px;
	}
	
footer{ 
	text-align:center; 
	margin-top:10px;
	}
	
