@charset "utf-8";
/* slideShow.css  */

#slideShow {
	position:relative;
	background-color:#CCC;
	margin-top:10px;
	height:520px;
	line-height:520px;
}	

#slideShowBox  {
	margin:0 auto;
    overflow:hidden;         
    width:960px; 
	height:480px;
	background-color:blue;
   }
  
/* 슬라이드 패널 */
#slidePanel {
	position:relative;
	width:4800px;
	height:480px;
	background-color:yellow;
}

/* 슬라이드 이미지 */
.slideImage {
	float:left;
	width:960px;
	height:480px;
}

/* prev/next 버튼 */
#prevNextButtonBox { position:relative; }
#prevButton { position:absolute; top:212px; left:-80px; }
#nextButton { position:absolute; top:212px; left:985px; }

/* 컨트롤 패널 */
#controlPanel {
	position:absolute;  top:10px;
}
.controlButton {
	position:relative;  top:230px;
	left:420px; height:24px; width:24px;
	display:inline-block;
}