@charset "utf-8";
/* CSS document */

#wrap{
	margin:0 auto; /* 가운데 정렬 */
	width:800px;	/* 가운데 정렬하기 위해서는 width 길이 있어야 함 */
	text-align:center;
}

#mainMenuBox{
	height:35px;
	line-height:35px;	/* 총 간격 - 수직으로 가운데 정렬 효과 */
	background-color:#333;
	margin-top:30px;
	margin-bottom:30px;
}

#mainMenuBox ul{
	padding-left:0;	/* 로고 이미지를 왼쪽에 붙이기 위해 */
	margin:0;
	list-style:none;	/* type 없음 */
}

#mainMenuBox li{
	float:left;	/* 한 줄로 정렬 */
	text-align:center;
	width:25%;	/* 항목 5개를 동일한 너비로 */
}

#mainMenuBox a{
	text-decoration:none;	/* <a> 태그 밑줄 없애기 */
	color:white;	/* 글자색 흰색 */
	display:block;
	font-size:14px;
	font-weight:bold;
}

#mainMenuBox a:hover{/* 각 메뉴 항목에 마우스 올렸을 때 */
	color:red; /* 글자색 빨강 */
	text-decoration:underline;	/* <a> 태그 밑줄 보이기 */
	background-color:black;
}

table{
	margin:0 auto;
	width:600px;
	margin-bottom:30px;
}

#prdName {
	color:blue;	/* 글자색 */
	font-weight:bold;	/* 굵게 */
}

#price {
	color:red;
}

.box{
	border:solid 1px grey;
	display:inline-block;
	width:320px;
	height:150px;
	font-size:small;
	border-radius:10px;
	padding-left:20px;
	padding-right:20px;
	margin:10px;
	text-align:left;
}

img {
	margin-bottom:20px;
}

.box a:hover{ /* 각 메뉴 항목에 마우스 올렸을 때*/
	color:red;
	text-decoration:underline;	/* <a>태그 밑줄 보이기*/
}

h4, hr { margin-bottom:10px;}