@charset "utf-8";
/* CSS Document */

/* 맨 위쪽에 간격 없애줌 - "body" 대신 "*" 사용 가능  */
body{	
	margin:0 auto;
}

#wrap{
	margin:0 auto;	/* 가운데 정렬 => 상하는 간격 0으로 주고 좌우 간격은 자동으로 하라는 의미 */
	width:1000px;
	background-color:white;	/* 배경색 */
	color:white;	/* 텍스트 색상 */
}

header{
	background-color:#0C3;
	text-align:right;	/* 내부 요소 오른쪽 정렬 */
	padding-right:20px;
	height:40px;
	line-height:40px;	/* 줄 간격 - 수직으로 가운데 정렬 효과 */
}

#menuBox{
	margin:0 auto;
	margin-top:10px;
	margin-bottom:0;
	height:35px;
	line-height:35px;
	background-color:orange;
	text-align:center;
	color:blue;
}

#subMenuBox{
	height:35px;
	line-height:35px;
	background-color:#FF0;
	text-align:center;
	color:blue;
}

#slideShowBox{
	margin-top:10px;
	background-color:blue;
	text-align:center;
	height:200px;
	line-height:200px;
}

#content{
	margin-top:10px;
	background-color:navy;
	text-align:center;
	height:500px;
	line-height:500px;
}

#companyInfo{
	margin-top:10px;
	background-color:black;
	height:200px;
	line-height:200px;
	color:yellow;
}