.metadata/
.recommenders/
RemoteSystemsTempFiles/
.settings/
bin/
.classpath
.project
*.txt
*.csv
*.ppt
*.pptx
*.xml
*.XML
tomcat8.5/
image/
media/
WEB-INF/
META-INF/
build/
Servers/
target/
practice/